html
{
    overflow: auto;     /*IE6 y-scroll bar bug*/
}
body 
{
    font-size: 12px;
    text-align:center;      /*ugly IE6 hack*/
    margin: 0;
    font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular", "sans-serif";
    background: #fff;
}
#conb
{
    margin: 0 auto;
    padding: 0;
    background: #fff/* url("../img/mark_copy.gif")*/;   /* here add background image */
}
#ban
{
    height: 90px;
    background: #09C url("../img/top_bg.jpg") repeat-x;
}