html
{
	overflow: auto;		/*IE6 y-scroll bar bug*/
}
body
{
	height: 100%;		/*only useful in ie6*/
/*	width: expression(documentElement.clientWidth<1000?1000:documentElement.clientWidth);	for min width*/
	width: expression((documentElement.clientWidth<800?720:documentElement.clientWidth-80));	
}
a
{
	noneFocusLine: expression(this.onFocus=this.blur());
}
#menu	
{
	background: #999;
}
#main
{
	float: right;	/*IE6 bug*/
/*	width: expression((documentElement.clientWidth<1000?1000:documentElement.clientWidth)-document.getElementById("menu").offsetWidth);	ie6 bug*/
	width: expression((documentElement.clientWidth<800?710:documentElement.clientWidth-90));	
}
p
{
	clear: both;	/*not in main for Opera bug, must be here for ie bug*/
}
#help
{
	background: #cef;
}
#cover
{
	width: 100%;
	height: expression(body.clientHeight);
}