/*
.main input[type=button]
{
	padding-top: 2px;
}
*/
.clr
{
	display: block;
}
a
{
	noneFocusLine: expression(this.onFocus=this.blur());
}
#ban
{
/*	margin-left: -180px;*/
/*	margin-right: -360px;*/
}
#con
{
	border-left: 0 solid #969696;
/*	border-right: 360px solid #cef;*/
/* 	min-height: 600px; */
	min-width: 686px;
}
#conm
{
	border-left: 0px solid #969696;
/*	border-right: 360px solid #dfd;*/
/* 	height: 100%; */
	min-width: 820px;
}
#menu
{
/*	margin-left: -180px;*/
}
#cover
{
	width: 100%;
}
/*
#help
{
	margin-right: -360px;
}
*/