a:focus
{
	-moz-outline-style:none;
}
.clr
{
	display: block;
}
#ban	
{
	margin-left: -180px;
/*	margin-right: -360px;*/
}
#conm
{
	border-left: 180px solid #969696;
/*	border-right: 360px solid #dfd;*/
/* 	height: 100%; */
/*	min-width: 820px;*/
}
#conb
{
	border-left: 180px solid #969696;
/*	border-right: 360px solid #dfd;*/
	min-height: 600px;
	min-width: 820px;
}
#con
{
	border-left: 0 solid #969696;
/*	border-right: 360px solid #dfd;*/
/*	min-height: 600px;*/
	min-width: 686px;
}
#menu
{
	margin-left: -180px;
}
#main
{

}
#cover
{
	width: 100%;
}
/*
#help
{
	margin-right: -360px;
}
*/
input[type="button"]:disabled ,
input[type="text"]:disabled{
/*	background-color: #ccc;*/
	color:gray;
}